{% extends 'blog/base.html' %}
{% block titulo %}Entradas del blog{% endblock %}

    <!--
    <ul>
        {% for post in posts %}
        <li>Titulo del post:{{post.titulo}} , por:{{post.autor}} , contenido:{{post.cuerpo}} , Fecha:{{post.fechasP}} </li>
        {% endfor %}
    </ul>
    -->
{% block contenido %}
    <h2>Lista de posts</h2>
        {% for post in posts %}
        <li><a href="{% url 'detalle post' pk=post.pk %}"> Titulo del post:{{post.titulo}} </a></li> <!--OJOO se le pone post. porque le pasamos una lista de -->
        {% endfor %}


    <h2>Lista de autores</h2>
        {% for autor in autores %}
        <li>{{autor}}</li>  <!--OJOOO que no es sin el post como arriba porque le estamos pasando una lista de string de autor-->
        {% endfor %}

{% endblock %}